body{
padding:10%;
font-size:1rem;
background-color:gray;
}
p{
text-indent:0.5em;
line-height:1.5;
letter-spacing:0.1em;
word-spacing:0.3em;
font-style:oblique;
font-weight:bold;
font-family:cursive;
background-color:;
font-variant:
}
a{
text-decoration:none;
cursor:progress;
color:yellow;
}
a:visited{
color:red;
}
a:active{
color:yellow;
}
a:hover,a:focus{
color:navy;
}
div{
padding:0%;
margine:0%;
height:18vh;
weight:18wh;
background-color:red;
}