body{
padding:10%;
font size:1rem;
background-color:gray;
margin:2%;
}
p{
text-indent:5em;
line-height:1.5;
letter-spacing:o.1em;
word-spacing:0.3em;
font-weight:bold;
font-style:oblique;
font-family:Agency;
background-color:blue;
font-variant:small-caps:
}
a{
text-decoration:none;
cursor:help;
color:blue;
}
a:visited{
color:yellow;
}
a:active{
color:red;
}

